<p id="notice"><%= notice %></p>

<p>
  <strong>Expediente:</strong>
  <%= @update.expedient_id %>
</p>

<p>
  <strong>Novedad:</strong>
  <%= @update.novedad %>
</p>

<%= link_to 'Actualizar', edit_update_path(@update) %> |
<%= link_to 'Volver', expedients_path %>
