<p></p>
<p>Expediente creado el <%= @expedient.created_at  %></p>
<p>Última modificación <%= @expedient.updated_at  %></p>

<%= render 'form' %>

<%#<%= link_to 'Show', @expedient %> 
<%= link_to 'Volver', expedients_path %>
